@charset "UTF-8";
/* base */

html {
  height: 100%;
}

body {
  color: black;
  font-family: "Open Sans";
  line-height: 1.2;
  font-size: 16px;
  background-color: #f4eaea;
  height: 100%;
}

/* header */
.header {
  padding-top: 16px;
  /* height: 52px; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  /* box-shadow: 2px 2px 4px; */
  padding-bottom: 16px;
}

.header-logo_link {
  font-size: 22px;
  font-family: "Noto Sans JP";
  font-weight: 900;
  padding-left: 6px;
  vertical-align: center;
}

@media screen and (min-width: 768px) {
  .header-logo_link {
    font-size: 40px;
    padding-left: 16px;
  }
}

.p-color {
  display: inline-flex;
  color: #201042;
}

.s-color {
  color: #ff0000;
}

.title {
  display: inline-flex;
}

.header-logo-sub {
  color: black;
  font-family: "Open Sans";
  font-size: 10px;
  padding-top: 6px;
  padding-left: 6px;
}

@media screen and (min-width: 768px) {
  .header-logo-sub {
    padding-left: 16px;
    font-size: 24px;
  }
}

.header-btn {
  margin-right: 6px;
  font-size: 14px;
  width: 90px;
  height: 40px;
}

@media screen and (min-width: 768px) {
  .header-btn {
    margin-right: 16px;
    width: 140px;
    height: 60px;
  }
}

/* .header-btn:hover {
  background: rgba(32, 16, 66, 0.66);
  border-radius: 6px;
} */

.form-btn {
  border: 2px solid #201042;
  border-radius: 6px;
  width: 90px;
  height: 40px;
  /* display: flex; */
  /* font-size: 14px; */
  /* position: relative; */
  font-size: 14px;
}

@media screen and (min-width: 768px) {
  .form-btn {
    border: 4px solid #201042;
    width: 140px;
    height: 60px;
    font-size: 22px;
  }
}

.form-btn:hover {
  color: #fff;
  background: rgba(32, 16, 66, 0.66);
  border-radius: 6px;
}

/* .header-form_link {
  font-size: 12px;
  display: block;
  font-size: 12px;
  position: absolute;
  top: -2px;
  left: -2px;
  width: 80px;
  height: 32px;
  margin: auto;
  padding: 8px 0 8px;
} */

/* .header-form_link:hover {
  color: #fff;
  background: rgba(32, 16, 66, 0.66);
  border-radius: 6px;
} */

/* main */
.main {
  background-color: #f4eaea;
}

.main-catch {
  background-color: #201042;
  text-align: center;
  /* box-shadow: 2px 2px 4px rgba(170, 170, 170, 0.16); */
}

.catch-free {
  font-size: 14px;
  padding-top: 8px;
  color: rgba(252, 220, 74, 0.66);
  word-break: keep-all;
  overflow-wrap: break-word;
  padding-bottom: 8px;
}

@media screen and (min-width: 768px) {
  .catch-free {
    padding-top: 16px;
    font-size: 24px;
    padding-bottom: 16px;
  }
}

.main-key-comment {
  font-family: "Noto Sans JP";
  font-weight: bold;
  color: #fff;
  margin-top: auto;
  margin-bottom: auto;
  font-size: 18px;
}

@media screen and (min-width: 768px) {
  .main-key-comment {
    font-size: 40px;
  }
}

.main-key {
  position: relative;
  z-index: 1;
  text-align: center;
  margin: 0 auto;
  width: 300px;
  display: flex;
  margin-top: 20px;
  height: 40px;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .main-key {
    width: 700px;
    height: 100px;
  }
}

.main-key::before {
  transform: skewX(-30deg);
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  background-color: #201042;
}

.main-key-img {
  transform: rotate(180deg);
  width: 33px;
  height: 33px;
}

@media screen and (min-width: 768px) {
  .main-key-img {
    margin-top: 16px;
    width: 70px;
    height: 70px;
  }
}

.main-title {
  margin-top: 32px;
  font-family: "Noto Sans JP";
  font-size: 40px;
  border-radius: 5px;
  text-align: center;
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .main-title {
    font-size: 50px;
  }
}

.line-left {
  display: flex;
  margin: 0 auto;
}

.line-right {
  /* display: inlne-block; */
  display: flex;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .line-left,
  .line-right {
    margin: 0;
  }
}

.line1 {
  border-left: 2px solid black;
  height: 100px;
  margin-left: 20px;
  transform: rotate(160deg);
}

/* .line2 {
  border-left: 2px solid black;
  height: 100px;
  margin: 0 20px;
} */

.line2 {
  border-left: 2px solid black;
  height: 100px;
  /* display: inline-block; */
  margin-right: 20px;
  transform: rotate(20deg);
}
@media screen and (min-width: 768px) {
  .line1,
  .line2 {
    border-left: 2px solid #f4eaea;
  }
}

/* .line4 {
  border-left: 2px solid black;
  height: 100px;
  display: inline-block;
  margin: 0 20px;
} */

/* .main-title-name {
  padding-top: 6px;
} */

@media screen and (min-width: 768px) {
  .main-title-name {
    display: flex;
  }
}

.main-title-p {
  color: #201042;
  font-weight: 900;
  text-align: center;
}

.main-title-s {
  color: #ff0000;
  font-weight: 900;
}

.main-title-sen {
  display: flex;
  justify-content: center;
  font-weight: 900;
}

.main-btn {
  margin: 30px auto 0;
  width: 250px;
  height: 80px;
  font-size: 32px;
}

@media screen and (min-width: 768px) {
  .main-btn {
    margin-top: 16px;
  }
}

/* .main-btn:hover {
  background: rgba(32, 16, 66, 1);
  border-radius: 6px;
} */

.start-btn {
  border: 2px solid #201042;
  border-radius: 6px;
  background-color: rgba(32, 16, 66, 0.66);
  width: 250px;
  height: 80px;
  font-weight: bold;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  /* position: relative; */
}

@media screen and (min-width: 768px) {
  .start-btn {
    border: 4px solid #201042;
  }
}

.start-btn:hover {
  background: rgba(32, 16, 66, 1);
  border-radius: 6px;
  color: #fcdc4a;
  /* border-left: #fcdc4a; */
}

.start-btn:hover .triangle-1,
.start-btn:hover .triangle-2 {
  background-color: #fcdc4a;
}

.triangle {
  /* position: absolute; */
  display: block;
  display: flex;
  padding-left: 6px;
}

/* .triangle-1:hover {

  background-color: #fcdc4a;
} */
/* .triangle-2:hover {
  background-color: #fcdc4a;
} */

.triangle-1 {
  /* position: absolute; */
  /* right: 0; */
  /* padding-right: 6px; */
  background-color: #fff;
  height: calc(30px / 2 * tan(60deg));
  width: 30px;
  clip-path: polygon(50% 0, 100% 100%, 0 100%);
  transform: rotate(90deg);
}

.triangle-2 {
  /* position: absolute; */
  /* right: 0; */
  /* padding-right: 6px; */
  background-color: #fff;
  height: calc(30px / 2 * tan(60deg));
  width: 30px;
  clip-path: polygon(50% 0, 100% 100%, 0 100%);
  transform: rotate(90deg);
  /* width: 0;
  height: 0;
  border-style: solid;
  border-top: 9px solid transparent;
  border-bottom: 9px solid transparent;
  border-left: 16px solid #fff;
  border-right: 0; */
}

/* .triangle-2 {
  position: absolute;
  right: 26px;
  padding-right: 6px;
  background-color: #fff;
  height: calc(18px / 2 * tan(60deg));
  width: 18px;
  clip-path: polygon(50% 0, 100% 100%, 0 100%);
  transform: rotate(90deg);
} */
/* 
.triangle {
  background-color: #fcdc4a;
} */

/* body {
  background-color: #212529;
  display: grid;
  height: calc(100vh - 16px);
  margin: 0;
  padding: 8px;
  place-items: center;
  width: calc(100% - 16px);
} */

/* .start-link {
  font-weight: bold;
  color: #fff;
  display: block;
} */

/* .start-link:hover {
  color: #fcdc4a;
} */

/* ホバーした時の範囲を広くしたい */

.catch-5min {
  font-size: 20px;
  text-align: center;
  padding-top: 20px;
}

/* .ai-girl {
  position: relative;
  z-index: 1;
  text-align: center;
  margin: 0 auto;
  width: 287px;
  display: flex;
  margin-top: 20px;
  height: 40px;
  justify-content: center;
}

.ai-girl::before {
  transform: skewX(-30deg);
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  background-color: #201042;
} */
.explain-text {
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 16px;
  padding-top: 40px;
  line-height: 1.6;
}

@media screen and (min-width: 768px) {
  .explain-text {
    font-size: 32px;
  }
}

.ai-girl-img {
  height: 290px;
  width: auto;
  transform: scale(-1, 1);
}
.explain {
  margin-top: 20px;
  display: flex;
  background-color: #f4eaea;
}

.explain-purple {
  color: #201042;
  /* word-break: break-all; */
  word-break: keep-all;
}

.explain-red {
  color: #ff0000;
  /* word-break: break-all; */
  /* word-break: normal; */
  /* word-break: break-word; */
  word-break: keep-all;
}

/* next.html */

/* header */

.header-next {
  background-color: #f4eaea;
}

.form-btn-next {
  background-color: #fff;
}

/* main */

.main-concept {
  background-color: #201042;
}

.main-concept-sub-catch {
  font-size: 16px;
  word-break: keep-all;
  overflow-wrap: break-word;
  color: rgba(252, 220, 74, 0.66);
  text-align: center;
  padding-top: 16px;
}

@media screen and (min-width: 768px) {
  .main-concept-sub-catch {
    font-size: 24px;
    padding-top: 32px;
  }
}

.main-key-img-next {
  transform: rotate(180deg);
  width: 14px;
  height: 14px;
}

@media screen and (min-width: 768px) {
  .main-key-img-next {
    width: 30px;
    height: 30px;
  }
}

.main-concept-title {
  color: #fff;
  font-family: "Noto Sans JP";
  font-weight: 900;
  font-size: 32px;
  padding-top: 14px;
  text-align: center;
  word-break: keep-all;
}

@media screen and (min-width: 768px) {
  .main-concept-title {
    padding-top: 32px;
    justify-content: center;
    font-size: 44px;
    display: flex;
  }
}

.main-concept-sub-title {
  display: flex;
  justify-content: center;
}

.strong-gold {
  color: #fcdc4a;
}

.main-concept-catch {
  margin-top: 14px;
  font-family: "Noto Sans JP";
  font-weight: bold;
  background-color: rgba(252, 220, 74, 0.66);
  width: 300px;
  /* height: 62px; */
  font-size: 14px;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 6px;
  padding-bottom: 6px;
}

@media screen and (min-width: 768px) {
  .main-concept-catch {
    margin-top: 32px;
    width: 660px;
    text-align: center;
    font-size: 20px;
  }
}

.main-concept-catch-para {
  padding-left: 27px;
}

@media screen and (min-width: 768px) {
  .main-concept-catch-para-span {
    display: flex;
    justify-content: center;
  }
}

.main-concept-catch-1sen {
  display: flex;
}

.main-concept-catch-2sen {
  display: flex;
}

.strong-red {
  color: #ff0000;
}

.main-concept-call {
  margin-top: 12px;
  padding-bottom: 20px;
  font-size: 14px;
  color: #fff;
  text-align: center;
  word-break: keep-all;
}

@media screen and (min-width: 768px) {
  .main-concept-call {
    display: flex;
    justify-content: center;
    margin-top: 32px;
    padding-bottom: 40px;
    font-size: 20px;
  }
}

.pre-strong {
  justify-content: center;
  display: flex;
}

.strong {
  font-weight: 900;
  display: block;
}

.question-answer {
  padding-top: 6px;
  background-color: #fff;
}

@media screen and (min-width: 768px) {
  .question-answer {
    padding-top: 16px;
  }
}

/* 以下質問画面app-pageのbase */
#quiz-container {
  background-color: #fff;
  padding: 0 30px 0 30px;
  text-align: center;
  /* align-items: center;
  justify-content: center; */
}

.quiz-item {
  margin-bottom: 10px; /* 各問題のセット間のスペース */
  border-bottom: 2px solid rgba(0, 0, 0, 0.66); /* 各問題の下部にボーダーを追加 */
  padding-bottom: 10px; /* ボーダーとコンテンツの間のスペース */
}

@media screen and (min-width: 768px) {
  .quiz-item {
    margin-bottom: 30px;
    border-bottom: 4px solid rgba(0, 0, 0, 0.66); /* 各問題の下部にボーダーを追加 */
    padding-bottom: 30px;
  }
}

.question-container {
  display: flex;
  justify-content: space-between; /* 両端に寄せる */
  align-items: center; /* 垂直方向中央揃え */
  margin-bottom: 5px;
}

.question {
  margin-bottom: 15px;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.66);
  font-weight: bold;
  /* white-space: pre-wrap; */
  word-break: keep-all;
  overflow-wrap: break-word;
  font-family: "Noto Sans";
}

@media screen and (min-width: 768px) {
  .question {
    font-size: 26px;
  }
}

.label-container {
  display: flex;
  font-size: 12px;
  margin-top: 10px;
  justify-content: space-between;
  font-family: "Noto Sans";
  font-weight: bold;
}

@media screen and (min-width: 768px) {
  .label-container {
    font-size: 22px;
  }
}

.label-no {
  color: #201042;
}

@media screen and (min-width: 958px) {
  .label-no {
    position: relative;
    top: -64px;
  }
}

.label-yes {
  color: #fcdc4a;
}

@media screen and (min-width: 958px) {
  .label-yes {
    position: relative;
    top: -64px;
  }
}

/* page1.css と同じ */
/* .button-container {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.exclusive-button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.exclusive-button:disabled {
  background-color: #ccc;
  cursor: default;
}

.exclusive-button.active {
  background-color: #4caf50;
  color: white;
} */

.exclusive-button:nth-child(-n + 4) {
  margin-right: 21px;
}

@media screen and (min-width: 958px) {
  .exclusive-button:nth-child(-n + 4) {
    margin-right: 55px;
  }
}

/* ボタンごとの個別スタイル */
.button-container .exclusive-button:nth-child(1) {
  border-radius: 50%;
  width: 42px;
  height: 42px;
  border: 2px solid #201042;
}

@media screen and (min-width: 958px) {
  .button-container .exclusive-button:nth-child(1) {
    width: 80px;
    height: 80px;
    border: 4px solid #201042;
  }
}

.button-container .exclusive-button:nth-child(2) {
  border-radius: 50%;
  width: 34px;
  height: 34px;
  border: 2px solid #201042;
}

@media screen and (min-width: 958px) {
  .button-container .exclusive-button:nth-child(2) {
    width: 70px;
    height: 70px;
    border: 4px solid #201042;
  }
}

.button-container .exclusive-button:nth-child(3) {
  border-radius: 50%;
  width: 26px;
  height: 26px;
  border: 2px solid rgba(0, 0, 0, 0.66);
}

@media screen and (min-width: 958px) {
  .button-container .exclusive-button:nth-child(3) {
    width: 60px;
    height: 60px;
    border: 4px solid rgba(0, 0, 0, 0.66);
  }
}

.button-container .exclusive-button:nth-child(4) {
  border-radius: 50%;
  width: 34px;
  height: 34px;
  border: 2px solid #fcdc4a;
}

@media screen and (min-width: 958px) {
  .button-container .exclusive-button:nth-child(4) {
    width: 70px;
    height: 70px;
    border: 4px solid #fcdc4a;
  }
}

.button-container .exclusive-button:nth-child(5) {
  border-radius: 50%;
  width: 42px;
  height: 42px;
  border: 2px solid #fcdc4a;
}

@media screen and (min-width: 958px) {
  .button-container .exclusive-button:nth-child(5) {
    width: 80px;
    height: 80px;
    border: 4px solid #fcdc4a;
  }
}
/* 選択状態の個別スタイル */
.button-container .exclusive-button:nth-child(1).active {
  background-color: #201042;
}
.button-container .exclusive-button:nth-child(2).active {
  background-color: #201042;
}
.button-container .exclusive-button:nth-child(3).active {
  background-color: rgba(0, 0, 0, 0.66);
}
.button-container .exclusive-button:nth-child(4).active {
  background-color: #fcdc4a;
}
.button-container .exclusive-button:nth-child(5).active {
  background-color: #fcdc4a;
}

.next-btn {
  margin: 30px auto 30px auto;
  width: 250px;
  height: 80px;
  font-size: 32px;
}

.footer {
  background-color: rgba(32, 16, 66, 0.66);
  display: flex;
  height: 40px;
}

@media screen and (min-width: 768px) {
  .footer {
    height: 50px;
  }
}

.achieve {
  margin-left: auto;
  margin-top: 12px;
  font-size: 12px;
  justify-content: center;
  color: #fff;
}

@media screen and (min-width: 768px) {
  .achieve {
    margin-top: 12px;
    font-size: 22px;
  }
}

.achieve-bar {
  margin-left: auto;
  margin-right: auto;
  margin-top: 16px;
  width: 240px;
  height: 6px;
  background-color: #fff;
  border-radius: 6px;
  position: relative;
}

@media screen and (min-width: 768px) {
  .achieve-bar {
    margin-top: 20px;
    width: 700px;
    height: 10px;
    position: relative;
  }
}

.current-point {
  width: 24px;
  height: 6px;
  background-color: #201042;
  border-radius: 6px;
  position: absolute;
  top: 0px;
  left: 0px;
}

@media screen and (min-width: 768px) {
  .current-point {
    width: 70px;
    height: 10px;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.main-key-img-footer {
  transform: rotate(180deg);
  width: 33px;
  height: 33px;
  position: absolute;
  top: -15px;
}

@media screen and (min-width: 768px) {
  .main-key-img-footer {
    width: 40px;
    height: 40px;
    position: absolute;
    top: -16px;
  }
}
/* 以下10%-100% */

.main-key-img-footer-10p {
  left: 10px;
}

@media screen and (min-width: 768px) {
  .main-key-img-footer-10p {
    left: 50px;
  }
}

.current-point-20p {
  width: 48px;
}

@media screen and (min-width: 768px) {
  .current-point-20p {
    width: 140px;
  }
}

.main-key-img-footer-20p {
  left: 34px;
}

@media screen and (min-width: 768px) {
  .main-key-img-footer-20p {
    left: 120px;
  }
}

.current-point-30p {
  width: 72px;
}

@media screen and (min-width: 768px) {
  .current-point-30p {
    width: 210px;
  }
}

.main-key-img-footer-30p {
  left: 58px;
}

@media screen and (min-width: 768px) {
  .main-key-img-footer-30p {
    left: 190px;
  }
}

.current-point-40p {
  width: 96px;
}

@media screen and (min-width: 768px) {
  .current-point-40p {
    width: 280px;
  }
}

.main-key-img-footer-40p {
  left: 82px;
}

@media screen and (min-width: 768px) {
  .main-key-img-footer-40p {
    left: 260px;
  }
}

.current-point-50p {
  width: 120px;
}

@media screen and (min-width: 768px) {
  .current-point-50p {
    width: 350px;
  }
}

.main-key-img-footer-50p {
  left: 106px;
}

@media screen and (min-width: 768px) {
  .main-key-img-footer-50p {
    left: 330px;
  }
}

.current-point-60p {
  width: 144px;
}

@media screen and (min-width: 768px) {
  .current-point-60p {
    width: 420px;
  }
}

.main-key-img-footer-60p {
  left: 130px;
}

@media screen and (min-width: 768px) {
  .main-key-img-footer-60p {
    left: 400px;
  }
}

.current-point-70p {
  width: 168px;
}

@media screen and (min-width: 768px) {
  .current-point-70p {
    width: 490px;
  }
}

.main-key-img-footer-70p {
  left: 154px;
}

@media screen and (min-width: 768px) {
  .main-key-img-footer-70p {
    left: 470px;
  }
}

.current-point-80p {
  width: 192px;
}

@media screen and (min-width: 768px) {
  .current-point-80p {
    width: 560px;
  }
}

.main-key-img-footer-80p {
  left: 178px;
}

@media screen and (min-width: 768px) {
  .main-key-img-footer-80p {
    left: 540px;
  }
}

.current-point-90p {
  width: 216px;
}

@media screen and (min-width: 768px) {
  .current-point-90p {
    width: 630px;
  }
}

.main-key-img-footer-90p {
  left: 202px;
}

@media screen and (min-width: 768px) {
  .main-key-img-footer-90p {
    left: 610px;
  }
}

.current-point-100p {
  width: 240px;
  background-color: #fcdc4a;
}

@media screen and (min-width: 768px) {
  .current-point-100p {
    width: 700px;
  }
}

.main-key-img-footer-100p {
  left: 226px;
  transform: rotate(45deg);
}

@media screen and (min-width: 768px) {
  .main-key-img-footer-100p {
    left: 660px;
  }
}

/* result */
.result-btn {
  margin: 20px auto 0px auto;
  width: 250px;
  height: 80px;
  font-size: 30px;
}
/* result-1 */
.result-1 {
  background-color: #201042;
  position: relative;
}

.your-result-1 {
  color: #fff;
  font-size: 24px;
  text-align: center;
  position: absolute;

  top: 16px; /* 上からの位置を調整 */
  /* left: 20px; 左からの位置を調整 */
  width: 100%;
  /* width: calc(100% - 40px); 左右の余白を考慮して幅を調整 */
}

.result-title-1 {
  font-size: 30px;
  color: #fff;
  text-align: center;
  position: absolute;
  top: 60px;
  width: 100%;
  font-family: "Noto Sans JP";
  font-weight: 900;
}

.your-career-1 {
  font-size: 20px;
  color: #fff;
  text-align: center;
  margin-top: 20px;
}

.result-your-career-1 {
  text-align: center;
  display: block;
}

.result-career-1 {
  display: inline-block;
  font-weight: 900;
  font-family: "Noto Sans JP";
  color: #fff;
  padding-top: 30px;
  padding-bottom: 42px;
  word-break: keep-all;
  width: 320px;
  text-align: left;
  line-height: 1.4;
}

.your-girl-result-1-img {
  max-width: 150px; /* 最大幅 */
  min-width: 100px; /* 最小幅 */
  width: 35%;
}

.result-1-footer {
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
  background-color: #f4eaea;
}

.result-1-fotter-left {
  text-align: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.result-1-btn {
  border: 2px solid #201042;
  border-radius: 6px;
  background-color: rgba(32, 16, 66, 0.66);
  width: 250px;
  height: 80px;
  margin-bottom: 16px;
  font-weight: bold;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  /* position: relative; */
}

.result-1-btn:hover {
  background: rgba(32, 16, 66, 1);
  border-radius: 6px;
  /* color: #fcdc4a; */
  /* border-left: #fcdc4a; */
}

.ai-girl-result-img {
  width: auto;
  height: 170px;
  /* margin-right: 6px; */
}

.pre-result-btn {
  font-size: 26px;
  font-weight: bold;
  font-family: "Noto Sans";
  padding-top: 22px;
}

.main-key-img-result {
  transform: rotate(180deg);
  width: 33px;
  height: 33px;
}

/* result-2*/
.result-2 {
  background-color: #360101;
  position: relative;
}

.your-result-2 {
  color: #fff;
  font-size: 20px;
  text-align: center;
  position: absolute;

  top: 12px; /* 上からの位置を調整 */
  /* left: 20px; 左からの位置を調整 */
  width: 100%;
  /* width: calc(100% - 40px); 左右の余白を考慮して幅を調整 */
}

.result-title-2 {
  color: #fff;
  text-align: center;
  position: absolute;
  top: 60px;
  width: 100%;
  font-family: "Noto Sans JP";
  font-weight: 900;
}

.your-career-2 {
  font-size: 20px;
  color: #fff;
  text-align: center;
  margin-top: 60px;
}

.result-your-career-2 {
  text-align: center;
  display: block;
}

.result-career-2 {
  display: inline-block;
  font-weight: 900;
  font-family: "Noto Sans JP";
  font-size: 12px;
  color: #fff;
  padding-top: 16px;
  padding-bottom: 42px;
  word-break: keep-all;
  width: 290px;
  text-align: left;
}

.your-girl-result-2-img {
  width: 100px;
  height: 100px;
}

.result-2-footer {
  display: flex;
  justify-content: space-between;
}

.result-2-fotter-left {
  text-align: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.result-2-btn {
  border: 2px solid #360101;
  border-radius: 6px;
  background-color: rgba(54, 1, 1, 0.66);
  width: 192px;
  height: 58px;
  font-weight: bold;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  /* position: relative; */
}

.result-2-btn:hover {
  background: rgba(54, 1, 1, 1);
  border-radius: 6px;
  /* color: black; */
  /* border-left: #fcdc4a; */
}

/* result-3 */
.result-3 {
  background-color: #364210;
  position: relative;
}

.your-result-3 {
  color: #fff;
  font-size: 20px;
  text-align: center;
  position: absolute;

  top: 12px; /* 上からの位置を調整 */
  /* left: 20px; 左からの位置を調整 */
  width: 100%;
  /* width: calc(100% - 40px); 左右の余白を考慮して幅を調整 */
}

.result-title-3 {
  font-size: 20px;
  color: #fff;
  text-align: center;
  position: absolute;
  top: 60px;
  width: 100%;
  font-family: "Noto Sans JP";
  font-weight: 900;
}

.your-career-3 {
  font-size: 20px;
  color: #fff;
  text-align: center;
  margin-top: 60px;
}

.result-your-career-3 {
  text-align: center;
  display: block;
}

.result-career-3 {
  display: inline-block;
  font-weight: 900;
  font-family: "Noto Sans JP";
  font-size: 12px;
  color: #fff;
  padding-top: 16px;
  padding-bottom: 42px;
  word-break: keep-all;
  width: 320px;
  text-align: left;
}

.your-girl-result-3-img {
  width: 100px;
  height: 100px;
}

.result-3-footer {
  display: flex;
  justify-content: space-between;
}

.result-3-fotter-left {
  text-align: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.result-3-btn {
  border: 2px solid #364210;
  border-radius: 6px;
  background-color: rgba(54, 66, 16, 0.66);
  width: 192px;
  height: 58px;
  font-weight: bold;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  /* position: relative; */
}

.result-3-btn:hover {
  background: rgba(54, 66, 16, 1);
  border-radius: 6px;
  /* color: black; */
  /* border-left: #fcdc4a; */
}

/* result-4 */

.result-4 {
  background-color: #10422d;
  position: relative;
}

.your-result-4 {
  color: #fff;
  font-size: 20px;
  text-align: center;
  position: absolute;

  top: 12px; /* 上からの位置を調整 */
  /* left: 20px; 左からの位置を調整 */
  width: 100%;
  /* width: calc(100% - 40px); 左右の余白を考慮して幅を調整 */
}

.result-title-4 {
  font-size: 24px;
  color: #fff;
  text-align: center;
  position: absolute;
  top: 60px;
  width: 100%;
  font-family: "Noto Sans JP";
  font-weight: 900;
}

.your-career-4 {
  font-size: 20px;
  color: #fff;
  text-align: center;
  margin-top: 60px;
}

.result-your-career-4 {
  text-align: center;
  display: block;
}

.result-career-4 {
  display: inline-block;
  font-weight: 900;
  font-family: "Noto Sans JP";
  font-size: 11px;
  color: #fff;
  padding-top: 16px;
  padding-bottom: 42px;
  word-break: keep-all;
  width: 320px;
  text-align: left;
}

.your-girl-result-4-img {
  width: 100px;
  height: 100px;
}

.result-4-footer {
  display: flex;
  justify-content: space-between;
}

.result-4-fotter-left {
  text-align: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.result-4-btn {
  border: 2px solid #10422d;
  border-radius: 6px;
  background-color: rgba(16, 66, 45, 0.66);
  width: 192px;
  height: 58px;
  font-weight: bold;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  /* position: relative; */
}

.result-4-btn:hover {
  background: rgba(16, 66, 45, 1);
  border-radius: 6px;
  /* color: #201042; */
  /* border-left: #fcdc4a; */
}

/* result-5 */

.result-5 {
  background-color: #102342;
  position: relative;
}

.your-result-5 {
  color: #fff;
  font-size: 20px;
  text-align: center;
  position: absolute;

  top: 12px; /* 上からの位置を調整 */
  /* left: 20px; 左からの位置を調整 */
  width: 100%;
  /* width: calc(100% - 40px); 左右の余白を考慮して幅を調整 */
}

.result-title-5 {
  color: #fff;
  text-align: center;
  position: absolute;
  top: 60px;
  width: 100%;
  font-family: "Noto Sans JP";
  font-weight: 900;
}

.your-career-5 {
  font-size: 20px;
  color: #fff;
  text-align: center;
  margin-top: 60px;
}

.result-your-career-5 {
  text-align: center;
  display: block;
}

.result-career-5 {
  display: inline-block;
  font-weight: 900;
  font-family: "Noto Sans JP";
  font-size: 12px;
  color: #fff;
  padding-top: 16px;
  padding-bottom: 42px;
  word-break: keep-all;
  width: 320px;
  text-align: left;
}

.your-girl-result-5-img {
  width: 100px;
  height: 100px;
}

.result-5-footer {
  display: flex;
  justify-content: space-between;
}

.result-5-fotter-left {
  text-align: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.result-5-btn {
  border: 2px solid #102342;
  border-radius: 6px;
  background-color: rgba(16, 35, 66, 0.66);
  width: 192px;
  height: 58px;
  font-weight: bold;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  /* position: relative; */
}

.result-5-btn:hover {
  background: rgba(16, 35, 66, 1);
  border-radius: 6px;
  /* color: #201042; */
  /* border-left: #fcdc4a; */
}

/* result-6 */
.result-6 {
  background-color: #4ad2fc;
  position: relative;
}

.your-result-6 {
  color: #fff;
  font-size: 20px;
  text-align: center;
  position: absolute;

  top: 12px; /* 上からの位置を調整 */
  /* left: 20px; 左からの位置を調整 */
  width: 100%;
  /* width: calc(100% - 40px); 左右の余白を考慮して幅を調整 */
}

.result-title-6 {
  color: #fff;
  text-align: center;
  position: absolute;
  top: 60px;
  width: 100%;
  font-family: "Noto Sans JP";
  font-weight: 900;
}

.your-career-6 {
  font-size: 20px;
  color: #fff;
  text-align: center;
  margin-top: 60px;
}

.result-your-career-6 {
  text-align: center;
  display: block;
}

.result-career-6 {
  display: inline-block;
  font-weight: 900;
  font-family: "Noto Sans JP";
  font-size: 12px;
  color: #fff;
  padding-top: 16px;
  padding-bottom: 42px;
  word-break: keep-all;
  width: 270px;
  text-align: left;
}

.your-girl-result-6-img {
  width: 100px;
  height: 100px;
}

.result-6-footer {
  display: flex;
  justify-content: space-between;
}

.result-6-fotter-left {
  text-align: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.result-6-btn {
  border: 2px solid #4ad2fc;
  border-radius: 6px;
  background-color: rgba(74, 210, 252, 0.66);
  width: 192px;
  height: 58px;
  font-weight: bold;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  /* position: relative; */
}

.result-6-btn:hover {
  background: rgba(74, 210, 252, 1);
  border-radius: 6px;
  /* color: #201042; */
  /* border-left: #fcdc4a; */
}

/* result-7 */
.result-7 {
  background-color: #4afcea;
  position: relative;
}

.your-result-7 {
  color: #fff;
  font-size: 20px;
  text-align: center;
  position: absolute;

  top: 12px; /* 上からの位置を調整 */
  /* left: 20px; 左からの位置を調整 */
  width: 100%;
  /* width: calc(100% - 40px); 左右の余白を考慮して幅を調整 */
}

.result-title-7 {
  font-size: 20px;
  color: #fff;
  text-align: center;
  position: absolute;
  top: 60px;
  width: 100%;
  font-family: "Noto Sans JP";
  font-weight: 900;
}

.your-career-7 {
  font-size: 20px;
  color: #fff;
  text-align: center;
  margin-top: 60px;
}

.result-your-career-7 {
  text-align: center;
  display: block;
}

.result-career-7 {
  display: inline-block;
  font-weight: 900;
  font-family: "Noto Sans JP";
  font-size: 11px;
  color: #fff;
  padding-top: 16px;
  padding-bottom: 42px;
  word-break: keep-all;
  width: 320px;
  text-align: left;
}

.your-girl-result-7-img {
  width: 100px;
  height: 100px;
}

.result-7-footer {
  display: flex;
  justify-content: space-between;
}

.result-7-fotter-left {
  text-align: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.result-7-btn {
  border: 2px solid #4afcea;
  border-radius: 6px;
  background-color: rgba(74, 252, 234, 0.66);
  width: 192px;
  height: 58px;
  font-weight: bold;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  /* position: relative; */
}

.result-7-btn:hover {
  background: rgba(74, 252, 234, 1);
  border-radius: 6px;
  /* color: #201042; */
  /* border-left: #fcdc4a; */
}

/* result-8 */

.result-8 {
  background-color: #4afcaf;
  position: relative;
}

.your-result-8 {
  color: #fff;
  font-size: 20px;
  text-align: center;
  position: absolute;

  top: 12px; /* 上からの位置を調整 */
  /* left: 20px; 左からの位置を調整 */
  width: 100%;
  /* width: calc(100% - 40px); 左右の余白を考慮して幅を調整 */
}

.result-title-8 {
  font-size: 20px;
  color: #fff;
  text-align: center;
  position: absolute;
  top: 60px;
  width: 100%;
  font-family: "Noto Sans JP";
  font-weight: 900;
}

.your-career-8 {
  font-size: 20px;
  color: #fff;
  text-align: center;
  margin-top: 60px;
}

.result-your-career-8 {
  text-align: center;
  display: block;
}

.result-career-8 {
  display: inline-block;
  font-weight: 900;
  font-family: "Noto Sans JP";
  font-size: 12px;
  color: #fff;
  padding-top: 16px;
  padding-bottom: 42px;
  word-break: keep-all;
  width: 310px;
  text-align: left;
}

.your-girl-result-8-img {
  width: 100px;
  height: 100px;
}

.result-8-footer {
  display: flex;
  justify-content: space-between;
}

.result-8-fotter-left {
  text-align: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.result-8-btn {
  border: 2px solid #4afcaf;
  border-radius: 6px;
  background-color: rgba(74, 252, 175, 0.66);
  width: 192px;
  height: 58px;
  font-weight: bold;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  /* position: relative; */
}

.result-8-btn:hover {
  background: rgba(74, 252, 175, 1);
  border-radius: 6px;
  /* color: #201042; */
  /* border-left: #fcdc4a; */
}

/* result-9 */

.result-9 {
  background-color: #a6fc4a;
  position: relative;
}

.your-result-9 {
  color: #fff;
  font-size: 20px;
  text-align: center;
  position: absolute;

  top: 12px; /* 上からの位置を調整 */
  /* left: 20px; 左からの位置を調整 */
  width: 100%;
  /* width: calc(100% - 40px); 左右の余白を考慮して幅を調整 */
}

.result-title-9 {
  font-size: 24px;
  color: #fff;
  text-align: center;
  position: absolute;
  top: 60px;
  width: 100%;
  font-family: "Noto Sans JP";
  font-weight: 900;
}

.your-career-9 {
  font-size: 20px;
  color: #fff;
  text-align: center;
  margin-top: 60px;
}

.result-your-career-9 {
  text-align: center;
  display: block;
}

.result-career-9 {
  display: inline-block;
  font-weight: 900;
  font-family: "Noto Sans JP";
  font-size: 12px;
  color: #fff;
  padding-top: 16px;
  padding-bottom: 42px;
  word-break: keep-all;
  width: 270px;
  text-align: left;
}

.your-girl-result-9-img {
  width: 100px;
  height: 100px;
}

.result-9-footer {
  display: flex;
  justify-content: space-between;
}

.result-9-fotter-left {
  text-align: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.result-9-btn {
  border: 2px solid #a6fc4a;
  border-radius: 6px;
  background-color: rgba(166, 252, 74, 0.66);
  width: 192px;
  height: 58px;
  font-weight: bold;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  /* position: relative; */
}

.result-9-btn:hover {
  background: rgba(166, 252, 74, 1);
  border-radius: 6px;
  /* color: #201042; */
  /* border-left: #fcdc4a; */
}

/* result-10 */
.result-10 {
  background-color: #fcdc4a;
  position: relative;
}

.your-result-10 {
  color: #fff;
  font-size: 24px;
  text-align: center;
  position: absolute;

  top: 16px; /* 上からの位置を調整 */
  /* left: 20px; 左からの位置を調整 */
  width: 100%;
  /* width: calc(100% - 40px); 左右の余白を考慮して幅を調整 */
}

.result-title-10 {
  font-size: 30px;
  color: #fff;
  text-align: center;
  position: absolute;
  top: 60px;
  width: 100%;
  font-family: "Noto Sans JP";
  font-weight: 900;
}

.your-career-10 {
  font-size: 20px;
  color: #fff;
  text-align: center;
  margin-top: 20px;
}

.result-your-career-10 {
  text-align: center;
  display: block;
}

.result-career-10 {
  display: inline-block;
  font-weight: 900;
  font-family: "Noto Sans JP";
  font-size: 12px;
  color: #fff;
  padding-top: 30px;
  padding-bottom: 42px;
  word-break: keep-all;
  width: 320px;
  text-align: left;
  line-height: 1.4;
}

.your-girl-result-10-img {
  max-width: 150px; /* 最大幅 */
  min-width: 100px; /* 最小幅 */
  width: 35%;
}

.result-10-footer {
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
  background-color: #f4eaea;
}

.result-10-fotter-left {
  text-align: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.result-10-btn {
  border: 2px solid #fcdc4a;
  border-radius: 6px;
  background-color: rgba(252, 220, 74, 0.66);
  width: 250px;
  height: 80px;
  margin-bottom: 16px;
  font-weight: bold;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  /* position: relative; */
}

.result-10-btn:hover {
  background: rgba(252, 220, 74, 1);
  border-radius: 6px;
  /* color: #201042; */
  /* border-left: #fcdc4a; */
}
